
/* Section 1  */
body{

  font-family: 'Montserrat', sans-serif;

}



#title {
  background-color: #87bdd8;
}

.container-override  {
  width: 100%;
  padding-top: 0%;
  padding-bottom: 0%;
  padding-left: 2% ;
  padding-right: 2%;
  margin-right: auto;
  margin-left: auto;
}

/* The images  */
.title_img_one {
  width: 20rem;

}
.title_img_two {
  width: 30rem;
}

/* The nav bar */

.navbar-custom {
  background-color: #87bdd8;
}

/* The text titles */
.hone-title-font {
  font-size: 3rem;
  line-height: 1.5;
}

.htwo-title-font {
  font-size: 2.5rem;
  line-height: 1.0;
}



/* The Download Button Section */

.apple_img {
  width: 1rem;
}

.btn-color {
color: black;

}

.google_img {
  width: 2.0rem;
}

.buttonmargins {
margin-top: 1rem ;
margin-right: 0rem;
margin-left: 1rem;
margin-bottom: 0rem;




}

/* Section 2 */
#sectwo {
  background-color: #b7d7e8;
}


.center {

text-align: center;

}

.sectwoimg {
background-color: #b7d7e8


}

.sectwoimg:hover {
  background-color: #87bdd8

}
.easytwouse_size {
width: 10rem;

}

.recommendations_size {
width: 20rem;

}

.guranteedtowork {
width: 10rem;

}
